# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python tooling
.pytest_cache/
.mypy_cache/

# Output
output/
